<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
  <title>Profile Page</title>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <style>
    body {
      overflow-x: hidden ;
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      direction: rtl;
    }

    .container {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      margin: 50px;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    p {
      margin: 10px 0;
    }

    strong {
      font-weight: bold;
    }

    img {
      height: 150px;
      border-radius: 10px;
    }

    li {
      background-color: gold;
      margin: 20px;
      text-align: center;
      border-radius: 10px;
      padding: 20px;
      font-size: larger;
      font-weight: bold;
      width: -webkit-fill-available;
    }
    #chart_div{
      width: auto;
      margin: 50px;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>

<body>
  <div class="container">
    <img src="
    
     <% if (profileData2.profilepic == "") { %>
          https://www.svgrepo.com/show/384377/account-avatar-person-profile-user.svg
      <% } else { %>
          <%= user.profilepic %>
      <% } %>
    
    " alt="profilepicture">
    <div class="textcontainer">
      <p><strong>الاسم:</strong>
        <%= profileData2.name %>
      </p>
      <p><strong>الفصل:</strong>
        <%= profileData2.grade %>
      </p>
      <p><strong>حضور الاجتماعات:</strong>
        <%= profileData2.meetings.filter(meeting=> meeting.meeting.name === "اجتماع").length %>

      </p>
      <p><strong>حضور التسبحة:</strong>
        <%= profileData2.meetings.filter(meeting=> meeting.meeting.name === "تسبحة").length %>

      </p>
    </div>
    <img src="<%=profileData2.imgUrl %>" alt="qrcodepicture">
  </div>

  <div id="chart_div" ></div>

  <% profileData2.meetings.forEach(function(item) { %>

    <div class="container">
      <h2>
        <%= item.meeting.name + "--" + item.meeting.date.toISOString().replace("T00:00:00.000Z", "") %>

        
      </h2>
      <% if (item.meeting.name==="تسبحة" ) { %>
        <li>+50bonus</li>
        <% } else { %>
          <li>+30bonus</li>
          <% } %>
    </div>
    <% }); %>

      <div class="container">
        <div>اجمالى بونص حضور التسبحة</div>
        <li>
          <%= (profileData2.meetings.filter(meeting=> meeting.meeting.name === "تسبحة").length * 50) %>
        </li>
        <div>اجمالى بونص حضور الاجتماعات</div>
        <li>
          <%= (profileData2.meetings.filter(meeting=> meeting.meeting.name === "اجتماع").length * 30) %>
        </li>
      </div>





      <script>
        // Load the Visualization API and the corechart package
        google.charts.load('current', { 'packages': ['corechart'] });
    
        // Set a callback to run when the Google Visualization API is loaded
        google.charts.setOnLoadCallback(drawChart);
    
        function drawChart() {
            // Define the data for the chart
            var data = google.visualization.arrayToDataTable([
                ['name', 'points'],
                <% profileData2.graph.forEach(function(item) { %>
                    ['<%=item[0]%>', <%= item[1]%>],
                <% }); %>
            ]);
    
            // Define chart options
            var options = {
                title: 'احصائيات سنه <%= profileData2.grade %>',
                legend: { position: 'none' },
                chartArea: { width: '50%' },
                hAxis: {
                    title: 'points',
                    minValue: 0
                },
                vAxis: {
                    title: 'الاسماء'
                }
            };
    
            // Create a new BarChart instance and draw the chart
            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
    
</body>

</html>