<html>

<head>

</head>

<body>
  <div class="container">
    <% users.forEach((user)=>{ %>




    <%if (user.profilepic != undefined && user.role != "admin" && user.meetings.length==0) { %>
    <div class="usercard">

      <div class="img-qr">
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=400x400&data=<%=user.ID%>" alt="qrcodepicture">


        <img src=" 

                <%=user.profilepic%>" alt="profilepic">
      </div>



      <div style="padding: 0.1cm;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;">


        <h2 class="name">
          <%= user.name %>
        </h2>


       


        <h2 class="grade">
          <%= user.grade %>
        </h2>


        <h2 class="name">

            <%= user.ID %>
          </h2>


      </div>


    </div>
    <% } %>
    <% }) %>
  </div>
  <style>
    img {
      height: 4.2cm;
    }

    .container {
      justify-content: space-around;
      align-items: center;
      align-content: center;
      display: flex;
      flex-wrap: wrap;
    }

    .img-qr {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .usercard {
      page-break-inside: avoid;
      display: block;
      flex-direction: row;
      align-items: center;
      /* margin: 0.5cm; */
      width: 9cm;
      height:5.5cm;
      overflow: hidden;
      /* border: dashed 0.001cm black; */
      padding: 0.35cm;
      /* padding-bottom: 0cm; */
      box-sizing: border-box;
    }

    h3 ,h2 {
      padding: 0cm;
      margin: 0cm;
    }
    body ,html{
      margin: 0px;
      padding: 0px;
    }
  </style>
</body>

</html>